body {
  width: 100vw;
  height: 100vh;
  background-color: #8aafff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;

  // Clock
  .clock {
    width: 20rem;
    height: 20rem;
    border: 5px solid #ffd6ff;
    border-radius: 50%;
    justify-self: flex-start;
    margin-bottom: 2rem;
    .dash {
      position: relative;
      margin-bottom: 2px;
      width: 2rem;
      border-top: 5px solid #ffd6ff;
    }
    .top {
      top: 0.75rem;
      left: 8.75rem;
      transform: rotate(90deg);
    }
    .top-right {
      width: 1.25rem;
      top: 3rem;
      left: 16rem;
      transform: rotate(-45deg);
    }
    .right {
      top: 9rem;
      left: 17.5rem;
    }
    .right-bottom {
      width: 1.25rem;
      top: 14.5rem;
      left: 16rem;
      transform: rotate(-135deg);
    }
    .bottom {
      top: 16.75rem;
      left: 8.75rem;
      transform: rotate(90deg);
    }
    .bottom-left {
      width: 1.25rem;
      top: 14rem;
      left: 2.5rem;
      transform: rotate(135deg);
    }
    .left {
      top: 7.5rem;
      left: 0;
    }
    .left-top {
      width: 1.25rem;
      top: 0.5rem;
      left: 2rem;
      transform: rotate(45deg);
    }
    .point {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: rgb(41, 41, 41);
      position: relative;
      top: 6rem;
      left: 9.25rem;
    }
    .pointer {
      width: 12rem;
      position: relative;
      top: 5.45rem;
      left: 3.75rem;
      transform: rotate(90deg);
      animation: time 60s infinite linear;
      .red {
        width: 7rem;
        border-top: 2px solid red;
      }
      @keyframes time {
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  // Counter
  .counter {
    width: 25rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      font-size: 3rem;
      color: rgb(173, 23, 23);
    }
    button {
      width: 6rem;
      height: 1.75rem;
      margin: 1rem 1rem 0 0;
      background-color: transparent;
      outline: transparent;
      border: 2px solid #ffd6ff;
      border-radius: 5px;
      color: #ffd6ff;
      font-size: 1rem;
      &:hover {
        background-color: #ffd6ff;
        color: #8aafff;
      }
    }
  }

  // Footer
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffd6ff;
    width: 100vw;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    color: #5d90fd;
  }
}
